@import "_fontsMixin";
@import "_header";
@import "_primarycontent";
@import "_advantages";
@import "_footer";
@import "_blog";
@import "_formone";
@import "_formtwo";
.hr {
    height: 2px;
    background: #d4d7de;
    margin: 32px 0;
}
